@using HouseOfCardsMVC.Models
@model Card

<div class="container body-content">

    <div class="Card">
        <div class="modal-header" id="SelectCard_Heading">
            <h2>@Model.Name</h2>
            <div>
                @if (Model.Dirty)
                {
                    <div class="bg-success">
                        LEGAL
                    </div>
                }
                else
                {
                    <div class="bg-warning">
                        ILLEGAL
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img />
            </div>
            <div class="col-sm-8">
                <div class="Padding-Box">
                    @Model.Description
                </div>
                <div>
                    @Model.Score
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button onclick="HidePartialDiv()">BACK</button>
        <button onclick="PlayCard_Button('@Model.Id', '@Model.Target')">PLAY</button>
    </div>
</div>