@using HouseOfCardsMVC.Models
@model PlayerModel
@{
    Layout = "~/Views/Shared/_Layout-Game.cshtml";
    ViewBag.Title = "Accuse";
    bool Messages = Model.Messages.Any();
}
<script>
    GlobalPhaseId = 3;
</script>

<div id="Accuse_Messages_Div" class="Padding-Box" @(Messages ? "" : "hidden")>
    <h2>Messages</h2>
    @foreach (string message in Model.Messages)
    {
        <label>@message</label>
    }
    @if (Model.Voting)
    { 
        <button onclick="$('#Accuse_Messages_Div').hide(); $('.Game-Body').show();">Close</button>
    }
</div>

@if (Model.Voting)
{
    <div class="Game-Body Padding-Box" @(Messages ? "hidden" : "")>
        <div class="row">
            @foreach (var Player in Model.Game.Players)
            {
                <div class="col-sm-6">
                    <div onclick="$('.active').removeClass('.active'); $(this).addClass('active'); GlobalSelectedTarget ='@Player.Id'" class="Padding-Box bg-primary">@Player.Name</div>
                </div>
            }

            <div class="modal-footer">
                <button onclick="ConfirmTarget_Button()">CONFIRM</button>
            </div>
        </div>
    </div>
}
