@using HouseOfCardsMVC.Models
@model PlayerModel
@{
    Layout = "~/Views/Shared/_Layout-Game.cshtml";
    ViewBag.Title = "Investigate";
    bool Messages = Model.Messages.Any();
}
<script>
    GlobalPhaseId = 2;
</script>

<div id="Investigate_Messages_Div" class="Padding-Box" @(Messages ? "" : "hidden")>
    <h2>Messages</h2>
    <ul>
        @foreach (string message in Model.Messages)
        {
            <li><h4>@message</h4></li>
        }
    </ul>
    <button class="btn btn-default" onclick="$('#Investigate_Messages_Div').hide(); $('.Game-Body').show();">Close</button>
</div>

<div class="Game-Body Padding-Box" @(Messages ? "hidden" : "")>
    <div class="row">
        <div class="col-sm-6">
            @{
                Card Card1 = Constants.Cards.GetCard(Model.Card_Ids[0]);
                @Html.Partial("~/Views/Game/Partials/Card.cshtml", Card1);
            }
        </div>
        <div class="col-sm-6">
            @{
                var Card2 = Constants.Cards.GetCard(Model.Card_Ids[1]);
                @Html.Partial("~/Views/Game/Partials/Card.cshtml", Card2);
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            @{
                var Card3 = Constants.Cards.GetCard(Model.Card_Ids[2]);
                @Html.Partial("~/Views/Game/Partials/Card.cshtml", Card3);
            }
        </div>
        <div class="col-sm-6">
            @{
                var Card4 = Constants.Cards.GetCard(Model.Card_Ids[3]);
                @Html.Partial("~/Views/Game/Partials/Card.cshtml", Card4);
            }
        </div>
    </div>
</div>