@using HouseOfCardsMVC.Models
@model PlayerModel
@{
    Layout = "~/Views/Shared/_Layout-Game.cshtml";
    ViewBag.Title = "Investigate";
}

<div class="Padding-Box">
    <div class="row">
        <div class="col-sm-6">
            <p>Card 1</p>
            @{
                var Card1 = Constants.Cards.GetCard(Model.Card_Ids[0]);
                <text>
                    <h5>@Card1.Name</h5>
                    <p>@Card1.Description</p>
                </text>
            }
        </div>
        <div class="col-sm-6">
            <p>Card 2</p>
            @{
                var Card2 = Constants.Cards.GetCard(Model.Card_Ids[1]);
                <text>
                    <h5>@Card2.Name</h5>
                    <p>@Card2.Description</p>
                </text>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Card 3</p>
            @{
                var Card3 = Constants.Cards.GetCard(Model.Card_Ids[2]);
                <text>
                    <h5>@Card3.Name</h5>
                    <p>@Card3.Description</p>
                </text>
            }
        </div>
        <div class="col-sm-6">
            <p>Card 4</p>
            @{
                var Card4 = Constants.Cards.GetCard(Model.Card_Ids[3]);
                <text>
                    <h5>@Card4.Name</h5>
                    <p>@Card4.Description</p>
                </text>
            }
        </div>
    </div>
</div>

